<!DOCTYPE html>
<html lang="EN">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }} {# the title variable chosen in app.py @app.route('/') #}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Portfolio" />
        <meta name="keywords" content="Portfolio" />
        <meta name="author" content="LTK Work Soft" />
        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:url" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:description" content=""/>
        <meta name="twitter:title" content="" />
        <meta name="twitter:image" content="" />
        <meta name="twitter:url" content="" />
        <meta name="twitter:card" content="" />
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}">
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}"> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/respond.min.js') }}"></script>
    </head>

    <body>
        <div id="colorlib-page">
            <div class="container-wrap">
                <a href="#" class="js-colorlib-nav-toggle colorlib-nav-toggle" data-toggle="collapse" data-target="#navbar"
                   aria-expanded="false" aria-controls="navbar"><i></i>
                </a>

                {% include 'components/sidebar.html' %}

                <div id="colorlib-main">
                    {% include 'components/hero.html' %}
                    {% include 'components/about.html' %}
                    {% include 'components/what_i_do.html' %}
                    {% include 'components/stats.html' %}
                    {% include 'components/skills.html' %}
                    {% include 'components/ourteam.html' %}
                    {% include 'components/contacts.html' %}
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.flexslider-min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.countTo.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>

